@import "bourbon"

// Fonts
$default-font: "raleway-lashes", sans-serif
$numbers-font: "rubik-lashes", sans-serif

// Colors
$grey-text: #4c4c4c
$accent-yellow: #ffcd9d
$accent-pink: #c37a9c
$accent-grey: #9d9d9d
$accent-purple: #402a3a
$text-gradient: linear-gradient(to bottom, #f5bd8a 0%, #e0c097 50%, #c19151 100%)
