@import "bourbon"
@import "fonts"
@import "libs"
@import "vars"

*::-webkit-input-placeholder
	color: $accent-grey
	opacity: 1

*:-moz-placeholder
	color: $accent-grey
	opacity: 1

*::-moz-placeholder
	color: $accent-grey
	opacity: 1

*:-ms-input-placeholder
	color: $accent-grey
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #fff
body input:required:valid,
body textarea:required:valid
	color: #fff

html, body
	height: 100%
	width: 100%

body
	color: #000
	font-size: $text-size
	// min-width: 490px
	position: relative
	line-height: 1.75
	font-family: $default-font
	overflow-x: hidden

.img-responsive
	display: block
	max-width: 100%
	height: auto

h1, h2, h3, h4, h5, h6
	text-align: center
	margin: 0

p
	margin: 0

section,
footer
	width: 100%
	min-width: 320px
	margin: 0 auto

section
	padding-top: 30px
	padding-bottom: 50px

.container
	width: 100%
	max-width: 490px
	min-width: 320px

//h1
.header-h1
	padding-bottom: 35px
	.h1
		font-size: $headers-size
		background: $text-gradient
		padding: 30px 0 10px
		color: transparent
		background-clip: text
		-webkit-background-clip: text
		font-weight: 500
		line-height: 1
	p
		font-size: 18px
		text-align: center
		text-transform: uppercase
		color: $accent-yellow

// h2
.header-h2
	.h2
		font-size: 48px
		line-height: 1.5
		margin-bottom: 50px
		font-weight: 500
		white-space: nowrap
		span
			font-family: $default-font
			font-weight: normal
			font-size: 20px
			letter-spacing: 1.2px
			line-height: 1.3
			display: block
	&-white
		color: #fff

// order button
.button
	background: $button-gradient
	border-radius: 50px
	display: block
	font-size: 28px
	font-weight: 800
	line-height: 1.6
	margin-top: 30px
	padding: 16px 10px
	text-align: center
	text-transform: uppercase
	transition: all .2s ease
	width: 100%
	border: none
	color: #000
	box-shadow: 0 0 50px -5px lighten($accent-purple, 40%)
	&:hover
		background: $button-gradient-hover
		color: #000
	&:active
		background: $button-gradient-active
		color: #000


//icons
.icons-box
	display: flex
	justify-content: space-around
	padding-bottom: 30px

.icon
	color: $accent-yellow
	text-align: center
	display: flex
	flex-direction: column
	justify-content: space-between
	&-desc
		line-height: 1.4
		padding-top: 10px
		width: 120px

// section 1
.section-header
	background: $accent-purple url(../img/bg/purple-bg.png)
	background-size: 8px 8px
	text-align: center
	padding-top: 30px
	padding-bottom: 20px
	&_shorter
		max-height: 710px
		padding-top: 40px
		background-image: url(../img/sections/main_section_2_bg.jpg)

//section 2
.section-eyelashes-case
	background: #fffbfc url(../img/section-2/section-2-bg.jpg)
	background-position: center center
	background-repeat: no-repeat
	background-size: 720px auto
	display: flex
	align-items: flex-end
	min-height: 480px

	.eyelashes-case
		text-align: center
		position: relative
		margin-bottom: -150px

		.eyelashes-case-img
			position: relative
			max-width: 360px
			margin: 0 auto
			img
				margin: 0 auto

		.eyelashes-case-discount
			background-image: url("../img/section-2/discount-bg.png")
			background-position: center
			background-repeat: no-repeat
			color: #fff
			font-size: 36px
			font-weight: 900
			line-height: 0.5
			padding: 38px
			position: absolute
			right: 0
			top: 120px
			span
				font-size: 14px
				font-weight: bold
				&.percent
					font-size: 22px

// section 3
.section-price
	background: $accent-purple url(../img/bg/purple-bg.png)
	background-size: 8px 8px
	text-align: center
	padding-top: 75px
	padding-bottom: 50px

	.price
		font-size: 18px
		line-height: 1.3
		span
			font-size: 20px

	.old-price
		color: $accent-pink
		.price-value
			font-size: 40px
			text-decoration: line-through
			line-height: 1.78

	.new-price
		color: $accent-yellow
		padding-left: 25px
		.price-value
			font-size: 48px
			margin-left: -15px
			font-weight: 900

	.chevrone-wrapper
		text-align: center
		padding-top: 30px

	&-shorter
		.icons-box
			font-size: 15px
			padding-bottom: 30px

// section 4
.section-bag
	background: #fff
	min-height: 480px
	&-desc
		font-weight: normal
		text-align: center
		font-size: 20px
		line-height: 1.4
		padding: 20px 30px 0 30px

//section 5
.video-section
	background: $accent-grey url('../img/bg/purple-bg.png')
	background-size: 8px 8px
	color: #fff
	padding-bottom: 55px

	.video-frame
		border: 1px solid $accent-grey
		height: 210px
		display: flex

	.video-description
		text-align: center
		font-size: 18px
		p
			padding-top: 40px
			margin: 0
			display: inline-block

// section 6
.section-instructions
	.header-h2
		span
			letter-spacing: normal
	.container
		padding: 0
		.row
			margin: 0
			> div
				padding: 0

	&-item
		&-desc
			line-height: 1.4
			padding-top: 40px
			padding-right: 30px
			.order
				font-family: $numbers-font
				font-size: 22px
				display: block
				font-weight: 500
				position: relative
				width: 25px
				margin-bottom: 35px
				margin-left: 15px
				&::before
					content: ''
					position: absolute
					display: block
					left: -20px
					top: 0
					height: 1px
					width: 40px
					background-color: $accent-grey
					transform: rotate(-40deg)
				&::after
					content: ''
					position: absolute
					display: block
					right: -20px
					bottom: 0
					height: 1px
					width: 40px
					background-color: $accent-grey
					transform: rotate(-40deg)

		background-image: none
		color: #fff
		.icon_blue
			padding-left: 30px
			&_img
				width: 120px
				height: 120px
				margin: 0
				border-radius: 60px
				margin-bottom: 10px
				&::after
					background-color: darken($accent-grey, 50%)
					opacity: .2
		.instruction_section_item
			padding-left: 30px
		.instruction_section_item_desc
			margin-top: -21px
			.order
				color: $accent-grey
				font-size: 30px
				padding-bottom: 7px

//section 8 - 9
.section-advantages
	padding-bottom: 0
	.container
		// min-width: 480px
		max-width: 720px
		padding: 0
		.row
			margin: 0
			.col-xs-12
				padding: 0
	.advantages
		&-item
			padding: 30px 0 0 30px
			background: #fff url(../img/section-8/section-8-bg-1.jpg)
			background-repeat: no-repeat
			background-position: right center
			background-size: auto 100%
			> div
				width: 320px
				margin-right: auto
			h3
				font-size: 20px
				font-weight: 500
				text-align: left
				line-height: 1.2
		&-list
			padding: 40px 0 40px 70px
			width: 300px
			&-item
				position: relative
				margin-bottom: 40px
				line-height: 1.2
				.order
					font-family: $numbers-font
					font-size: 22px
					display: block
					font-weight: 500
					width: 25px
					position: absolute
					left: -60px
					top: 20px
					&::before
						content: ''
						position: absolute
						display: block
						left: -20px
						top: 0
						height: 1px
						width: 40px
						background-color: $accent-grey
						transform: rotate(-40deg)
					&::after
						content: ''
						position: absolute
						display: block
						right: -20px
						bottom: 0
						height: 1px
						width: 40px
						background-color: $accent-grey
						transform: rotate(-40deg)

	&-2
		padding: 0
		background: $accent-purple url(../img/bg/purple-bg.png)
		.advantages
			&-item
				padding: 30px 0
				background: url(../img/section-8/section-8-bg-2.png)
				background-repeat: no-repeat
				background-position: left center
				background-size: auto 100%
				color: #fff
				> div
					margin-left: auto
					margin-right: 0
				h3
					color: $accent-yellow
			&-list
				&-item
					.order
						color: $accent-yellow
						&::after,
						&::before
							background-color: $accent-yellow

//section 10
.section-expert
.owl-carousel .owl-stage,
.owl-carousel.owl-drag
	.owl-item
		touch-action: auto

.slider
	.slide-item
		text-align: center
		h3
			padding: 40px 0 25px
			font-size: 22px
			font-weight: bold
			span
				display: block
				text-transform: none
				font-size: 18px
				font-weight: normal
		p
			margin: 0
			font-weight: 400
			font-size: 18px

	.owl-dots
		text-align: center
		padding-top: 60px
		.owl-dot
			border-radius: 10em
			display: inline-block
			height: 12px
			margin-right: 15px
			width: 12px
			background-color: $accent-purple
			opacity: 0.2
			transition: background-color .5s ease, opacity .5s ease
			&.active
				opacity: 1

// section 11
.section-reviews
	color: #fff
	background: $accent-purple url(../img/bg/purple-bg.png)
	text-align: center
	.slider
		.owl-dots
			.owl-dot
				background-color: #fff
				&.active
					opacity: 1

// section 12
.section-order_steps
	padding-bottom: 0
	.container
		// padding: 0
		.row
			// margin: 0
	&-item
		padding-bottom: 60px
	.order
		font-family: $numbers-font
		font-size: 22px
		font-weight: 500
		position: relative
		float: left
		display: block
		height: 40px
		margin-top: 20px
		&::before
			content: ''
			position: absolute
			display: block
			left: -20px
			top: 0
			height: 1px
			width: 40px
			background-color: $accent-grey
			transform: rotate(-40deg)
		&::after
			content: ''
			position: absolute
			display: block
			right: -20px
			bottom: 0
			height: 1px
			width: 40px
			background-color: $accent-grey
			transform: rotate(-40deg)
	&-img
		display: block
		text-align: left
	&-desc
		padding-top: 20px
		padding-left: 20px
		display: flex
		.description
			padding-left: 30px
			display: block

.section-14
	background-image: url(../img/section-14/section-14-bg.jpg)

.order_form
	padding-top: 30px
	input
		outline: none
		background-color: transparent
		margin-bottom: 10px
		display: block
		width: 100%
		border-radius: 30px
		border: 2px solid $accent-yellow
		padding: 10px
		text-align: center
		color: $accent-yellow
		font-weight: 500
		font-size: 20px
		transition: all .5s ease
		color: #fff
		font-size: 20px
		&::placeholder
			color: lighten($accent-yellow, 10%)
			text-align: center
			font-size: 16px
		&:focus
			background-color: rgba(0,0,0,.5)
		&.phone
			font-family: $numbers-font

footer
	background-color: $accent-purple
	padding: 30px 0
	text-align: center
	font-size: 12px
	color: $accent-pink
	a
		color: $accent-pink
		text-decoration: underline
	.footer_bottom_left
		text-align: right
	.footer_bottom_right
		text-align: left
	.question_link
		font-size: 14px
		text-transform: uppercase
		color: $accent-yellow
		font-weight: 800
		padding-bottom: 20px
		display: block
		&:hover
			color: lighten($accent-yellow, 15%)

.question_icon
	margin: 0 auto
	border: 1px solid $accent-yellow
	border-radius: 20px
	height: 30px
	width: 30px
	background-image: url('../img/icons/svg/question-mark.svg')
	background-repeat: no-repeat
	background-position: center

.form-group
	position: relative
	.hint
		cursor: default
		padding: 2px 6px
		border: 1px solid $accent-purple
		border-radius: 4px
		background: #fff
		display: none
		margin-left: 25px
		width: auto
		position: absolute
		top: -35px

.callback-button
	border: 2px solid darken($accent-purple, 8%)
	width: 80px
	height: 80px
	position: fixed
	border-radius: 50%
	background-color: #fff
	bottom: 50px
	right: 50px
	transition: all .4s ease
	display: none
	z-index: 1000
	img
		width: 80%
	&:hover
		transform: scale(1.2)

.callback-form
	&-popup
		display: none
		align-items: center
		justify-content: center
		position: fixed
		width: 100%
		height: 100vh
		top: 0
		left: 0
		right: 0
		bottom: 0
		background: rgba(0,0,0,.8)
		.order_form
			color: #000
			padding-top: 0
	&-wrapper
		border: 1px solid darken($accent-purple, 10%)
		position: relative
		padding: 70px 50px 50px
		border-radius: 5px
		background: $accent-purple url(../img/bg/purple-bg.png)
		.button
			font-size: 16px
			box-shadow: none
	&-close
		position: absolute
		right: 10px
		top: 10px
		cursor: pointer
		border-radius: 50%
		width: 30px
		height: 30px
		border: 2px solid $accent-yellow
		padding: 5px
		background: url(../img/icons/svg/close.svg) no-repeat center
		background-size: 50%
		transition: all .3s ease
		&:hover
			transform: scale(1.1)

.countdownHolder
	padding: 30px 0 0
// 	color: #000
// 	font-size: 32px
// 	font-family: $numbers-font
// 	display: flex
// 	justify-content: center
// 	> span
// 		display: flex
// 		background: #fff
// 		border-radius: 5px
// 		padding: 5px
// 		margin-right: 10px
// 	.position
// 		width: 25px
// 		overflow: hidden
// 		display: block


@import "media" // Всегда в конце
